html, body{
    margin:0;
    /*
    height:100%;
     overflow:hidden;
    */
     
    
}
 

#container{
    background-color: #EFFBF2;
    height:100%;
    box-shadow: 10px -16px #F5BCA9;
}
#title{
    text-align:center;
    position:relative;
    /*margin-top:10px;*/
    /*border:1px solid red;*/
    padding : 40px;
    
}
#title h1{
    font-weight: bold;
    color: blue;
    font-family: 'Times New Roman', Times, serif;
}

/************** BEGIN : GRIDVIEW ***************/ 
* {
	box-sizing: border-box;  /* RWD 필수! */
}
[class*="col-"]{
	float:left;
	padding:15px;
	border:1px solid red;
	 
}
.col-1 {width: 8.33%} /* 1칸 짜리 폭 */ 
.col-2 {width:16.66%} /* 2칸 짜리 폭 */ 
.col-3 {width:25%} /* 3칸 짜리 폭 */ 
.col-4 {width:33.33%} /* 4칸 짜리 폭 */ 
.col-5 {width:41.66%} /* 5칸 짜리 폭 */ 
.col-6 {width:50%} /* 6칸 짜리 폭 */ 
.col-7 {width:58.33%} /* 7칸 짜리 폭 */ 
.col-8 {width:66.66%} /* 8칸 짜리 폭 */ 
.col-9 {width:75%} /* 9칸 짜리 폭 */ 
.col-10 {width:83.33%} /* 10칸 짜리 폭 */ 
.col-11 {width:91.66%} /* 11칸 짜리 폭 */ 
.col-12 {width:100%} /* 12칸 짜리 폭 */ 
/************** END : GRIDVIEW ***************/ 


ul {
    list-style:none;
    padding-left:0px;
}
.type{
    color:red;
    width:140px;
    font-size:30px;
    /*
     border:1px solid blue;
    */
     
    display:inline-block;
    padding:10px;
}
.content{
    width:400px;
    font-size:30px;
     /*
     border:1px solid blue;
    */
    display:inline-block;
    padding:10px;
}

#about{
    background-color:#FBEFEF;
    min-height:300px;
    padding:10px;
}
#Education{
    background-color:#EFFBFB;
    min-height:300px;
    padding:10px;
}
#Experience{
    background-color:#FBFBEF;
    min-height:400px;
    padding:10px;
}
#Skills{
    background-color:#EFF5FB;
    min-height:600px;
    padding:10px;
}
#Interests{
    background-color:#E6E6E6;
    min-height:600px;
    padding:10px;
}
#photo{
    float:right;
    border:1px solid green;
    padding:60px;
    background-color:gray;
    margin-right:20px;
    height:180px;
    
}